[Unit]
Description=Badhon Steel Gunicorn Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/BadhonStell
Environment="DJANGO_SECRET_KEY=fU7StAXpUZJAOz0ZKdWK3eyDBzhXvH1_OJnZrJDifYDbeadPP_5uAz17uHLZWfrigr0"
Environment="DJANGO_DEBUG=False"
Environment="DJANGO_HTTPS=True"
ExecStart=/root/BadhonStell/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/root/BadhonStell/app.sock badhonsteel.wsgi:application

[Install]
WantedBy=multi-user.target
